@model JardinSecretoPrueba1.Models.Sabor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sabor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sabor5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sabor5)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio_Sabor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Precio_Sabor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProductoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProductoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SaborId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
